body {
    background: yellow; 
    color: white; 
    margin: 0px;
}

header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: black;
     
    
   
}

section{
     background: rebeccapurple;
     padding-top: 80px; 
     padding-bottom: 88px;
     display: flex;
     justify-content:center ;
     h1{
        font-size: 40px;
     }
}

